<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Adit Shop</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/self.css" rel="stylesheet" />
    </head>
    <body id="app">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">{{ title }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#!">About</a></li> -->
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">Semua Produk</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Inverter</a></li>
                                <li><a class="dropdown-item" href="#!">PLC</a></li>
                            </ul>
                        </li> -->
                    </ul>
                    <!-- <form class="d-flex">
                        <button class="btn btn-outline-dark" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            Keranjang
                            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                        </button>
                    </form> -->
                    <div class="btn-group dropstart">
                        <button class="btn btn-outline-dark" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi-cart-fill me-1"></i>
                            Keranjang
                            <span class="badge bg-dark text-white ms-1 rounded-pill">{{ lists.length }}</span>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Cari Sparepart panel mesinmu disini</h1>
                    <p class="lead fw-bolder text-white-75 mb-0">bersama adit shop mantap wak</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div v-for="(product, i) in products" :key="i" class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" :src="product.image_link" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    {{ product.product_name }}
                                    <!-- <a href="details.html" class="text-decoration-none text-black"><a href="details.html" class="text-decoration-none text-black"><h5 class="fw-bolder">inverter LSLV0022G100-4EONN 2.2kw 380v</h5></a></a>  -->
                                    <!-- Product price--> <br>
                                    Rp{{ rupiah(product.price) }}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" @click="addList(product)">+ Keranjang</a></div>
                            </div>
                        </div>
                    </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Keranjang</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li v-for="(item, i) in lists" :key="i" class="list-group-item d-flex justify-content-between">
                            <img :src="item.img" alt="" class="w-10">
                            <div class="d-flex flex-column">
                                <span>{{ item.name }}</span>
                                <p>Rp{{ rupiah(item.price) }}</p>
                            </div>
                            <!-- <span>{{ item.name }}</span> -->
                            <input type="number" class="w-10 number" v-model="item.total">
                            <button type="button" class="btn-close" @click="deleteList(list, i)"></button>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a href="https://wa.me/0895622690312?text=Halo%20permisi%20kak%20saya%20tertarik%20dengan%20produk%20di%20Adit%20Shop"><button type="button" class="btn btn-success">hubungi penjual</button></a>
                </div>
                </div>
            </div>
            </div>

                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Adit Shop 2024</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script>
            const { createApp } = Vue
            createApp(
            {
                data() {
                    return {
                        message: 'Hello Vue!',
                        title: 'Adit Shop',
                        lists: [
                        ],
                        encoded: "",
                        products: [
                                {
                                    "tokped_link": "https://www.tokopedia.com/jagatpersada/plc-set-schneider-modicon-tsx-quantum-cpu113-03-made-in-usa?extParam=src%3Dshop%26whid%3D11108785",
                                    "product_name": "PLC set SCHNEIDER MODICON TSX QUANTUM CPU113 03 ,made in USA",
                                    "price": 29750000,
                                    "image_link": "https://images.tokopedia.net/img/cache/900/VqbcmM/2024/6/29/131c1f68-12f5-46e0-9172-1ef8daaa015b.jpg"
                                },
                                {
                                    "tokped_link": "https://www.tokopedia.com/jagatpersada/plc-omron-cp1e-n30dt-a-second-mulus?extParam=src%3Dshop%26whid%3D11108785",
                                    "product_name": "plc omron CP1E-N30DT-A ,second mulus",
                                    "price": 1400000,
                                    "image_link": "https://images.tokopedia.net/img/cache/900/VqbcmM/2024/6/16/0cc00cf9-739a-468d-a24f-43d86cb4319d.jpg"
                                },
                                {
                                    "tokped_link": "https://www.tokopedia.com/jagatpersada/shinko-bc-de-d-plc-dcs-servo-controll-motor-power?extParam=whid%3D11108785%26src%3Dshop",
                                    "product_name": "SHINKO BC-DE-D  plc dcs servo controll motor power",
                                    "price": 4500000,
                                    "image_link": "https://images.tokopedia.net/img/cache/900/VqbcmM/2024/5/8/79419fa7-41ef-4c3e-bb3f-2182d98b6a01.jpg"
                                },
                                {
                                    "tokped_link": "https://www.tokopedia.com/jagatpersada/plc-mitsubishi-fx2n-16mr-second?extParam=src%3Dshop%26whid%3D11108785",
                                    "product_name": "plc mitsubishi FX2N - 16MR ,second",
                                    "price": 1750000,
                                    "image_link": "https://images.tokopedia.net/img/cache/900/VqbcmM/2024/2/27/2859cb8a-6450-4824-aa9b-545013cb1539.jpg"
                                },
                                {
                                    "tokped_link": "https://www.tokopedia.com/jagatpersada/plc-fanuc-a03b-0807-c161?extParam=src%3Dshop%26whid%3D11108785",
                                    "product_name": "plc FANUC A03B-0807-C161",
                                    "price": 1950000,
                                    "image_link": "https://images.tokopedia.net/img/cache/900/VqbcmM/2023/12/28/b1f11b9e-c7c3-47de-9b41-efc381f3b615.jpg"
                                },
                                {
                                    "tokped_link": "https://www.tokopedia.com/jagatpersada/plc-fanuc-a03b-0807-c158?extParam=src%3Dshop%26whid%3D11108785",
                                    "product_name": "plc FANUC A03B-0807-C158",
                                    "price": 1950000,
                                    "image_link": "https://images.tokopedia.net/img/cache/900/VqbcmM/2023/12/28/80ec8d18-4d7d-47e4-b09d-0ce580e2eb56.jpg"
                                },
                                {
                                    "tokped_link": "https://www.tokopedia.com/jagatpersada/plc-fanuc-a03b-0819-c011?extParam=src%3Dshop%26whid%3D11108785",
                                    "product_name": "plc FANUC A03B-0819-C011",
                                    "price": 2475000,
                                    "image_link": "https://images.tokopedia.net/img/cache/900/VqbcmM/2023/12/28/f00540b3-7254-4152-a603-c65e132b663a.jpg"
                                },
                                {
                                    "tokped_link": "https://www.tokopedia.com/jagatpersada/plc-fanuc-a03b-0819-c012?extParam=src%3Dshop%26whid%3D11108785",
                                    "product_name": "plc FANUC A03B-0819-C012",
                                    "price": 2475000,
                                    "image_link": "https://images.tokopedia.net/img/cache/900/VqbcmM/2023/12/28/0b94ef53-fcff-4022-9a77-64cd48b2d417.jpg"
                                },
                                {
                                    "tokped_link": "https://www.tokopedia.com/jagatpersada/plc-pco3000am0-carel?extParam=whid%3D11108785%26src%3Dshop",
                                    "product_name": "plc PCO3000AM0 CAREL",
                                    "price": 4950000,
                                    "image_link": "https://images.tokopedia.net/img/cache/900/VqbcmM/2023/11/27/309df0f9-4ade-45b8-b139-dfaad65ccd96.jpg"
                                },
                                {
                                    "tokped_link": "https://www.tokopedia.com/jagatpersada/plc-mitsubishi-fx2n-128mr-001?extParam=src%3Dshop%26whid%3D11108785",
                                    "product_name": "plc mitsubishi Fx2N - 128MR- 001",
                                    "price": 3650000,
                                    "image_link": "https://images.tokopedia.net/img/cache/900/VqbcmM/2023/11/20/f1f5c40d-6e22-48fc-bfed-928f3ad84eba.jpg"
                                },
                                {
                                    "tokped_link": "https://www.tokopedia.com/jagatpersada/plc-mitsubishi-fx1n-40mr?extParam=src%3Dshop%26whid%3D11108785",
                                    "product_name": "plc mitsubishi FX1N - 40MR",
                                    "price": 1450000,
                                    "image_link": "https://images.tokopedia.net/img/cache/200-square/VqbcmM/2022/9/5/31ccd13f-88b0-4afe-af7d-9de83506190a.jpg"
                                },
                                {
                                    "tokped_link": "https://www.tokopedia.com/jagatpersada/inverter-fuji-frenic-multi-0-75kw-380v-type-frn0-75e1s-4c?extParam=whid%3D11108785%26src%3Dshop",
                                    "product_name": "inverter fuji frenic-Multi  0.75kw 380v type FRN0.75E1S-4C",
                                    "price": 1450000,
                                    "image_link": "https://images.tokopedia.net/img/cache/900/VqbcmM/2024/6/25/ef3f0b02-34c8-482d-9ac6-5bf3329a161c.jpg"
                                },
                                {
                                    "tokped_link": "https://www.tokopedia.com/jagatpersada/inverter-fuji-frenic-multi-0-4kw-380v-frn0-4e1s-4c?extParam=src%3Dshop%26whid%3D11108785",
                                    "product_name": "inverter fuji frenic - multi 0.4kw 380v  FRN0.4E1S-4C",
                                    "price": 1400000,
                                    "image_link": "https://images.tokopedia.net/img/cache/900/VqbcmM/2024/6/25/08befbd5-9075-4395-842c-2f7712cc04c8.jpg"
                                },
                                {
                                    "tokped_link": "https://www.tokopedia.com/jagatpersada/inverter-toshiba-0-75kw-220v-3ph-input-vfnc3-2007p?extParam=src%3Dshop%26whid%3D11108785",
                                    "product_name": "inverter toshiba 0.75kw 220v 3ph input  VFNC3-2007P",
                                    "price": 1350000,
                                    "image_link": "https://images.tokopedia.net/img/cache/900/VqbcmM/2024/6/19/27ba0fc6-cfac-4eb7-b1de-c0f4d57e9402.jpg"
                                },
                                {
                                    "tokped_link": "https://www.tokopedia.com/jagatpersada/inverter-danfoss-vlt-micro-0-75-kw-380v-fc-051pk75t4e20h3xxcxxxsxxx?extParam=src%3Dshop%26whid%3D11108785",
                                    "product_name": "inverter danfoss VLT Micro 0.75 kw 380v  FC-051PK75T4E20H3XXCXXXSXXX",
                                    "price": 1350000,
                                    "image_link": "https://images.tokopedia.net/img/cache/900/VqbcmM/2024/6/7/16b251db-c783-4d98-a70a-2d897137ba1f.jpg"
                                },
                                {
                                    "tokped_link": "https://www.tokopedia.com/jagatpersada/inverter-mitsubishi-fr-a840-37k-1-37kw-380v-second-original-japan?extParam=src%3Dshop%26whid%3D11108785",
                                    "product_name": "inverter mitsubishi FR-A840-37K-1  37kw 380v second original JAPAN",
                                    "price": 19750000,
                                    "image_link": "https://images.tokopedia.net/img/cache/900/VqbcmM/2024/6/19/74fc5d3c-5715-4be7-86be-a51fd27faef0.jpg"
                                },
                                {
                                    "tokped_link": "https://www.tokopedia.com/jagatpersada/inverter-ls-sv075iv5-4db-7-5kw-380v?extParam=src%3Dshop%26whid%3D11108785",
                                    "product_name": "inverter  LS  SV075iV5-4DB  7.5kw 380v",
                                    "price": 6450000,
                                    "image_link": "https://images.tokopedia.net/img/cache/900/VqbcmM/2024/5/29/64f01369-dd5c-4da3-adf0-18c1caa46faa.jpg"
                                },
                                {
                                    "tokped_link": "https://www.tokopedia.com/jagatpersada/inverter-frenic-lift-frn7-5lm1s-4x0-7-5kw-380v?extParam=src%3Dshop%26whid%3D11108785",
                                    "product_name": "inverter frenic - lift  FRN7.5LM1S-4X0  ,7.5kw 380v",
                                    "price": 8500000,
                                    "image_link": "https://images.tokopedia.net/img/cache/900/VqbcmM/2024/5/29/5fbc9da7-a128-4e2f-b1e2-ac2bf4252a3f.jpg"
                                },
                                {
                                    "tokped_link": "https://www.tokopedia.com/jagatpersada/inverter-nidec-unidrive-m201-032-00100-a-2-2kw-220v-1-3ph-input?extParam=src%3Dshop%26whid%3D11108785",
                                    "product_name": "inverter Nidec unidrive M201 - 032  00100 A 2.2kw 220v  1/3ph input",
                                    "price": 2750000,
                                    "image_link": "https://images.tokopedia.net/img/cache/900/VqbcmM/2024/5/29/696c3938-6fb0-412b-b766-aa12d07da754.jpg"
                                }
                            ]
                    }
                },
                methods: {
                    rupiah: value => (value + '').replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ".") ,

                    deleteList: function(list, i) {
                        //this.lists.splice(this.list);
                        this.lists.splice(i,1);
                    },

                    addList(item){
                        //this.lists.include(item) ? this.lists.push(item) : this.lists.push(item) 
                        let newItem = {
                            img   : item.image_link,
                            name  : item.product_name,
                            price : item.price,
                            total : 1
                        }
                        this.lists.push(newItem)
                        console.log(newItem)
                    }
            
                },
                watch: {
                    lists(newLists, oldLists){
                        let encode = ""
                        this.lists.forEach(function(value, index) {
                        encode += `a`
                        })
                        this.encoded = encode
                        console.log(this.encoded)
                    }
                }
            }).mount('#app')
        </script>
    </body>
</html>
